.cardbox {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 16px 14px 20px black;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.cardbox::before {
    content: "";
    position: absolute;
    height: 120%;
    width: 120%;
    background-image: conic-gradient(rgb(34, 0, 128) 20deg, transparent 120deg);
    animation: k_rotate 2s linear infinite ;
}

@keyframes k_rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.cardbox::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 16px 14px 20px rgb(195, 169, 255);
}

.cardbox2 {
    height: 100%;
    width: 100%;
    background-color: rgb(128, 74, 255);
    border-radius: 10px;
    box-shadow: 16px 14px 20px black;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;

    h4 {
        color: black;
        z-index: 2;
        background-color: transparent;

    }

}

.cardbox2::after {
    content: "";
    position: absolute;
    background-color: rgb(128, 74, 255);
    height: 85%;
    width: 98%;
    border-radius: 10px;
    box-shadow: inset 16px 14px 20px rgb(195, 169, 255);
}

.cardbox3::after {
    content: "";
    position: absolute;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    box-shadow: inset 16px 14px 20px rgb(212, 188, 243);
}

.cardbox3 {
    height: 75%;
    width: 75%;
    border-radius: 10px;
    box-shadow: 16px 14px 20px black;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.cardbox3::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 16px 14px 20px rgba(120, 167, 255, 0.692);
}