@use 'preloader';
@use 'navbar';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@mixin text-letter {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lobster Two', cursive;
}

$breakpoints: (
    xxxs: 0px,
    xxs: 200px,
    xs: 310px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

@mixin media-up($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}


body {
    font-size: 40.5%;
    background: linear-gradient(270deg, #5b3bdb, #907ae8, #9286c5, #c7bcf7, #c7bcf7, #7f67e4, #ac9fe1);
    background-size: 1400% 1400%;

    -o-animation: back-gradient 30s ease infinite;
    animation: back-gradient 30s ease infinite;
}

@-o-keyframes back-gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes back-gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.hidden {
    overflow: hidden;
}

.tagvisibility {
    visibility: hidden;
}

.margin {
    margin: 6em auto 0 auto 0;
    margin-top: 5%;
    justify-content: center;
    display: flex;
    align-items: center;
}

#welcome-text {
    font-family: 'Lobster Two', cursive;
    font-size: 3.7rem;
    
    @include media-up(xxxs){
        font-size: 0.6rem;
    }
    @include media-up(xxs){
        font-size: 0.9rem;
    }
    @include media-up(xs){
        font-size: 1.3rem;
    }
    @include media-up(sm){
        font-size: 1.7rem;
    }
    @include media-up(md){
        font-size: 1.9rem;
    }
    @include media-up(lg){
        font-size: 2.2rem;
    }
    @include media-up(xl){
        font-size: 2.6rem;
    }
    @include media-up(xxl){
        font-size: 3rem;
    }
}

.w2 {
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Open+Sans:wght@300&family=Pacifico&display=swap');
    @include text-letter;

    &-text {
        font-family: 'Open Sans', sans-serif;
        //font-family: 'Open Sans', sans-serif;
        //font-family: 'Pacifico', cursive;
        color: aliceblue;
        font-size: 1.5rem;
    }
}


//queria ayuda si con los tamaños del media 
//Mira   xs: 0,
//sm: 576px,
//md: 768px,
//lg: 992px,
//xl: 1200px,
//xxl: 1400px