<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="../static/style.css">
    <link type="image/png" sizes="16x16" rel="icon" href="../static/img/cat.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="hidden" id="body_id">
    <div id="preloader">
        <div class="kanuthcontainer">
            <div class="coast">
                <div class="wave-rel-wrap">
                    <div class="wave"></div>
                </div>
            </div>
            <div class="coast delay">
                <div class="wave-rel-wrap">
                    <div class="wave delay"></div>
                </div>
            </div>
            <div class="text text-k">k</div>
            <div class="text text-n">n</div>
            <div class="text text-a">a</div>
            <div class="text text-u">u</div>
            <div class="text text-t">t</div>
            <div class="text text-h">h</div>
        </div>

    </div>
    <header class="tagvisibility kheader">
        <div class="logo">
            <a href="index.html"><img src="../static/img/logo.png" alt="logo Totoro"></a>
        </div>
        <nav>
            <ul class="navk-klinks">
                <li><a href="nintendo.html">Nintendo</a></li>
                <li><a href="ghibli.html">Ghibli</a></li>
                <li><a href="lofi.html">Lofi</a></li>
            </ul>
        </nav>
        <a href="contacto.html" class="btn"> <button>contacto</button></a>
    </header>
    <main class="tagvisibility">
        <div class="container margin">
            <h1 id="welcome-text">Yo</h1>
        </div>
    </main>
    <br>

    <section class="tagvisibility">
        <div class="container">
            <div class="row justify-content-center align-items-center g-2">
                <div class="col">
                    <div class="cardbox3">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../static/img/yo4.jpeg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../static/img/yo5.jpeg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="cardbox3">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../static/img/yo1.jpeg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../static/img/yo2.jpeg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../static/img/yo3.jpeg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col">
                    <div class="cardbox3">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../static/img/yo6.jpeg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../static/img/yo7.jpeg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="margin">
            <div class="container">
                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <h3 class="body-text-2">
                            Viajo constantemente al norte del país, solo por ver un poco el paisaje.
                        </h3>
                    </div>

                    <div class="col">
                        <div class="cardbox3">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../static/img/land1.jpeg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
                </div>
            </div>
            
        </div>

        <div class="margin">
            <div class="container">
                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <div class="cardbox3">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="../static/img/land2.jpeg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <h3 class="body-text-2">
                            Acampar es una de mis actividades preferidas, pero aunque me paguen, nunca volvería a ir a Lapan. xd
                        </h3>
                    </div>

                </div>
            </div>
            
        </div>

        <div class="container margin tagvisibility text-center">
            <div class="cardbox2">
                <h4>
                    Algo curioso pero es que mi apellido es alemán pero yo soy chino.
                    nunca se me da hablar en publico.
                </h4>
            </div>
        </div>

        <div class="container margin text-center">
            <h1 id="welcome-text">EL contacto esta en el footerxd o me encuentran estudiando en la biblioteca.</h1>
        </div>
    </section>

    <br>
    <footer class="tagvisibility bg-dark text-white pt-5 pb-4">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Disa11</h5>
                    <p>Soy estudiante de ingeniería electrónica de 2do año, siempre dispuesto a aprender cosas nuevas.
                        Me gusta mucho la música, el francés y enseñar lo que sé. idk Lorem Ipsum.</p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Formación académica</h5>
                    <p>
                        <a href="https://www.uni.edu.ni/#/" class="text-white" style="text-decoration: none;"
                            target="_blank">UNI</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/CTpedroarauzgranada?mibextid=ZbWKwL" class="text-white"
                            style="text-decoration: none;" target="_blank">INTECNA-Granada</a>
                    </p>
                    <p>
                        <a href="https://code-fu.net.ni/" class="text-white" style="text-decoration: none;"
                            target="_blank">CS50x</a>
                    </p>

                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Referencias.</h5>
                    <p>
                        <a href="https://gruposiasa.com/" class="text-white" style="text-decoration: none;"
                            target="_blank">SIASA</a>
                    </p>
                    <p>
                        <a href="https://www.cargill.com.hn/es/sobre" class="text-white" style="text-decoration: none;"
                            target="_blank">Cargill</a>
                    </p>
                    <p>
                        <a href="https://portaldematematica.com/nicaragua/" class="text-white"
                            style="text-decoration: none;" target="_blank">Portal Math</a>
                    </p>

                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacto</h5>
                    <p>
                        <i class="fas fa-home mr-3"></i>Granada/Masaya
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>dknauth@code-fu.net.ni
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i>82017614
                    </p>
                </div>
            </div>

            <hr class="mb-4">

            <div class="row align-items-center">
                <div class="cold-md-7 col-lg-8">
                    <p>
                        Copyright &#xA9; 2023 All rights reserved by:
                        <a href="#" style="text-decoration: none;">
                            <strong class="text-warning">Disa11</strong>
                        </a>
                    </p>
                </div>

                <div class="cold-md-5 col-lg-4">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/david.knauth.7?mibextid=ZbWKwL"
                                    class="btn-floating btn-sm text-white" style="font-size: 23px;" target="_blank">
                                    <i class="fab fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/Disa11" class="btn-floating btn-sm text-white"
                                    style="font-size: 23px;" target="_blank">
                                    <i class="fab fa-github"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://instagram.com/dathly_knauth?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D"
                                    class="btn-floating btn-sm text-white" style="font-size: 23px;" target="_blank">
                                    <i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </footer>
    <script src="../static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>