<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="../static/style.css">
    <link type="image/png" sizes="16x16" rel="icon" href="../static/img/cat.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body class="hidden" id="body_id">
    <div id="preloader">
        <div class="kanuthcontainer">
            <div class="coast">
                <div class="wave-rel-wrap">
                    <div class="wave"></div>
                </div>
            </div>
            <div class="coast delay">
                <div class="wave-rel-wrap">
                    <div class="wave delay"></div>
                </div>
            </div>
            <div class="text text-k">k</div>
            <div class="text text-n">n</div>
            <div class="text text-a">a</div>
            <div class="text text-u">u</div>
            <div class="text text-t">t</div>
            <div class="text text-h">h</div>
        </div>

    </div>
    <header class="tagvisibility kheader">
        <div class="logo">
            <a href="index.html"><img src="../static/img/logo.png" alt="logo Totoro"></a>
        </div>
        <nav>
            <ul class="navk-klinks">
                <li><a href="nintendo.html">Nintendo</a></li>
                <li><a href="ghibli.html">Ghibli</a></li>
                <li><a href="lofi.html">Lofi</a></li>
            </ul>
        </nav>
        <a href="contacto.html" class="btn"> <button>contacto</button></a>
    </header>
    <main class="tagvisibility">

    </main>
    <section class="tagvisibility">
        <div class="margin">
            
        </div>
        <div class="margin">
            
        </div>
        <div class="margin">
            <p class="tagvisibility">Lorem ipsum dolor sit amet consectetur adipisicing elit.uuntur quis nemo recusandae
                rem, laudantium
                laboriosam obcaecati animi reiciendis! Tempora eius maxime mollitia autem, officiis ducimus officia iure
                ipsa? Commodi, asperiores!
                Facere, dolor? Sequi vitae mollitia quibusdam culpa? Aliquam nostrum rerum repudiandae mollitia nam
                illum expedita, error quisquam quas repellat cum dolorum suscipit est ducimus voluptatem impedit porro
                laboriosam, vitae provident.</p>
        </div>
    </section>
    <footer class="tagvisibility">

    </footer>
    <script src="../static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>